
@{
    ViewBag.Title = "Admin";
}

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="lead nav nav-justified nav-pills">
                    <li class="">
                        <a href="/Kunde/Index"><i class="fa fa-fw fa-user"></i>Kunder</a>
                    </li>
                    <li class="">
                        <a href="/Admin/Logg"><i class="fa fa-fw fa-server"></i>Hendelseslogg</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron k">
                    <h1>Admin</h1>
                    <p>Innlogget som Admin</p>
                    <br />
                    <p>Du har som administrator rettigheter til å se en oversikt over våres kunder og deres opplysninger.
                    <br />
                    Dette innebærer at du kan redigere/legge til eller slette en kunde eller konto.
                    <br />
                    I tillegg kommer det med det privilegium at du har tilgang til hendelsesloggen, sistnevnte gir en oversikt over
                    <br />
                    suksesfulle og ikke suksesfulle betalinger.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>