
@{
    ViewBag.Title = "Index";
}
<div class="container text-center" style="padding:60px;">

    @if (Session["admin"] != null)
    {
        <h1>Administrator side</h1>
        <span class="btn-group-lg">
            <a class="btn btn-default" href="/Kunde/Index">Kunder</a>
        </span>
    }

</div>
