
@{
    ViewBag.Title = "Bli Kunde";
}

<h2 class="text-center">Bli Kunde</h2>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">Del 2 av oppgaven, her skal man få mulighet til å
                <br /> registrere seg som kunde, ved å fylle inn nødvendig personalia osv.</p>
            </div>
        </div>
    </div>
</div>