@model WebProsjektBank.Models.LoggInn

@{
    ViewBag.Title = "Innlogging";
}
<script>
                    function validatePersonnummer() {
                        var $personnummer = $("#personnummer").val();
                        console.log("validate", $personnummer   );
                        $.getJSON("/LoggInn/Personnummer", { personnummer: $personnummer },
                            function (data) {
                                console.log(data);
                                if (data === true) {
                                    // Vis engangs view
                                    console.log("validate", "success");
                                    $("#personummerView").hide(200);
                                    $("#engangsView").show(200);
                                    $("#status").empty();
                                } else {
                                    $("#status").empty();
                                    $("#status").append("<span class=\"alert alert-danger span5\">Feil personnummer</span>");
                                }
                            }
                        );
                    }
                    function validateEngangs() {
                        var $engangspassord = $("#engangspassord").val();
                        console.log("validate", $engangspassord);
                        $.getJSON("/LoggInn/Engangs", { engangspassord: $engangspassord },
                            function (data) {
                                if (data === true) {
                                    // Vis passord view
                                    $("#engangsView").hide(200);
                                    $("#passordView").show(200);
                                    $("#status").empty();
                                } else {
                                    // Gå tilbake til personummer view
                                    $("#engangsView").hide(200);
                                    $("#personummerView").show(200);
                                    $("#status").empty();
                                    $("#status").append("<span class=\"alert alert-danger span5\">Feil engangskode, vennligst tast inn personnummer igjen</span>");
                                }
                            }
                        );
                    }
                    function validatePassord() {
                        var $passord = $("#passord").val();
                        console.log("validate", $passord);
                        $.getJSON("/LoggInn/Passord", { passord: $passord },
                            function (data) {
                                if (data === true) {
                                    // Redirect til oversikt view
                                    $("#status").empty();
                                } else {
                                    $("#status").empty();
                                    $("#status").append("<span class=\"alert alert-danger span5\">Feil passord, vennligst prøv igjen</span>");
                                }
                            }
                        );
                    }

                    function getNewOtp() {
                        var $pnummer = $("#pnummer").val();
                        console.log("otp for", $pnummer);
                        $.getJSON("/LoggInn/getNextOTP", { pnummer: $pnummer },
                            function (data) {
                                console.log(data);
                                if (data) {
                                    // Redirect til oversikt view
                                    $("#otp").val(data);
                                }
                            }
                        );
                    }
</script>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Vennligst logg inn</h2>
        </div>
    </div>
</div>
    <div class="container  text-center">
        <div class="label form-group  text-center" id="otpView">
            <label for="pnummer">Personnummer: </label>
            <input class="form-control" type="number" id="pnummer">
            <button class="btn btn-default"  onclick="getNewOtp()">Få nytt engangspassord</button>
            <input type="number" id="otp" class="form-control" readonly>
        </div>
        <div>
            <div style="height:300px;padding-top:50px;">

                <div id="status" style="height:50px;">

                </div>
                <div>
                    <div class="form-group form-inline text-center" id="personummerView">
                        <label for="number">Personnummer:</label>
                        <input type="number" class="form-control" id="personnummer">
                        <button class="btn btn-default" onclick="validatePersonnummer()">-></button>
                    </div>

                    <div class="form-group form-inline text-center" style="display:none" id="engangsView">
                        <label for="number">Engangspassord:</label>
                        <input type="number" class="form-control" id="engangspassord">
                        <button class="btn btn-default" onclick="validateEngangs()">-></button>
                    </div>

                    <div class="form-group form-inline text-center" style="display:none" id="passordView">
                        <label for="number">Personlige Password:</label>
                        <input type="password" class="form-control" id="passord">
                        <button class="btn btn-default" onclick="validatePassord()">-></button>
                    </div>
                </div>
            </div>
        </div>
    </div>