
@{
    ViewBag.Title = "Om Oss";
}

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Teamet vårt</h1>
                <p class="text-center">Vi er 2 studenter ved HiOA</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png"
                     class="center-block img-circle img-responsive">
                <h1 class="text-center">El Morabeti Mohamed</h1>
                <p class="lead text-center">s198748 Data Ingeniør</p>
            </div>
            <div class="col-md-6">
                <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png"
                     class="center-block img-circle img-responsive">
                <h1 class="text-center">Wasserman Syver Arlen</h1>
                <p class="lead text-center">s123456 Informasjonsteknologi</p>
            </div>
        </div>
    </div>
</div>