@model IEnumerable<TestOppgave.Models.LoggInn>

@{
    ViewBag.Title = "Index side";
}


    <h2>Denne tar kunden videre til påloggingsside, må designes</h2>
    @Html.ActionLink("Logg inn", "Logginn")
