/*Mye her er generert av bootstrap, helt nederst har vi noen cheat sheets */
body {
    padding-top: 50px;

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.section {
  position: relative;
  padding: 35px 0;
  width: 100%;
  height: 100%;
}
.section .background-image {
  z-index: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.section .background-image.background-image-fixed {
  background-attachment: fixed;
}
.section-primary {
  background-color: #337cbb !important;
  color: #ffffff;
}
.section-primary .background-image {
  opacity: 0.5;
}

.wpb {
  font-size: 44px;
}
.farge {
  color: white;
  font-size: 20px;
}
.annenfarge {
  color: white;
}
.ny {
  color: white;
}
.footer {
  font-size: 20px;
  color: black;
}
.linker{
    color: white;
}
.mediaikoner {
  color: black;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2,
 .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
 .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5,
 .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, 
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, 
.col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, 
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, 
.col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12,
 .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;

}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
	.container .jumbotron,
.container-fluid .jumbotron {
  border-radius: 5px;
}
.jumbotron .container {
  max-width: 100%;
}
	.cover .container {
  max-width: 100%;
}
    	.row {
  margin-left: -15px;
  margin-right: -15px;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
a {
  background-color: transparent;
  color: white;
}
a:active,
a:hover {
  outline: 0;
}

    	.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.carousel-inner > .item {
  display: none;
  position: relative;
  -webkit-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  line-height: 1;
}
.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
.h1, .h2, .h3, .h4{
    text-align: center;
}
a{
    margin: 0 auto;
}

dt, dl, dd{
    float:none;
    text-align: center;
    position: relative;
  padding: 5px 0;
    display: inline-block;
}
